$primary-color: rgb(42, 42, 42);
$secondary-color: rgb(36, 36, 36);

@mixin flex-col($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-container {
        min-width: 400px;
        background-color: $primary-color;
        padding: 1rem;
        border-radius: .5rem;
        @include flex-col(1rem);
        
        h1 {
            font-size: 1.9rem;
        }

        p {
            font-size: 1rem;
            text-align: center;

            .linktag {
                color: rgb(91, 91, 255);
                text-decoration: none;
                padding-left: .2rem;
            }
            .linktag:hover {
                color: rgb(76, 76, 255);
            }
        }
        
        form {
            @include flex-col(.4rem);


            input {
                font-size: 1.2rem;
                font-weight: 500;
                padding: .5rem 1.2rem;
                outline: none;
                border-radius: .3rem;
                background-color: $secondary-color;
                color: #dadada;
                border: 1px solid #dadada23;
            }

            .btn {
                background-color: rgb(91, 91, 255);
                margin-top: .3rem;
                color: #fff;
                font-weight: 600;
                outline: revert;
                cursor: pointer;
            }
            .btn:hover {
                background-color: rgb(76, 76, 255);
            }
        }
    }
}